@using FamilyHubs.SharedKernel.Razor.FamilyHubsUi.Delegators
@model FamilyHubs.SharedKernel.Razor.FamilyHubsUi.FamilyHubsLayoutModel

@{
    var familyHubsUiOptions = Model.FamilyHubsUiOptions.Value;
}

<header class="govuk-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container">
        <div class="govuk-width-container">
            <div class="govuk-header__logo">
                <a href="https://www.gov.uk/government/organisations/department-for-education" class="govuk-header__link govuk-header__link--homepage app-header-logo-link">
                    <span class="govuk-header__logotype">
                        <!--[if gt IE 8]><!-->
                        @*todo need svg*@
                        <img src="~/images/crest.png" class="govuk-header__logotype-crown-fallback-image" alt="Department for Education">
                        <!--<![endif]-->
                        <!--[if IE 8]>
                            <img src="~/images/crest.png" class="govuk-header__logotype-crown-fallback-image" alt="Department for Education" width="45" height="45">
                        <![endif]-->
                        <span class="govuk-header__logotype-text">
                            Department for Education
                        </span>
                    </span>
                </a>
                <span class="govuk-header__logotype-text">|</span>
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__product-name">
                        @familyHubsUiOptions.ServiceName
                    </span>
                </a>
            </div>
            @{
                IFamilyHubsHeader? familyHubsHeader = Model.PageModel as IFamilyHubsHeader;

                if (familyHubsHeader?.ShowNavigationMenu == true)
                {
                    <nav class="govuk-header__navigation govuk-header__navigation--end app-header__navigation" aria-label="Menu">
                        @*<button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" aria-expanded="false" hidden="">Menu</button>*@
                        <ul id="navigation" class="govuk-header__navigation-list">

                            @foreach (var headerLink in familyHubsUiOptions.Header.Links)
                            {
                            <li class="govuk-header__navigation-item @((familyHubsHeader?.IsActive(headerLink) ?? false) ? "govuk-header__navigation-item--active" : "")">
                                <a class="govuk-header__link" href="@headerLink.Url" @(headerLink.OpenInNewTab ? Html.Raw("rel=\"noreferrer noopener\" target=\"_blank\"") : "")>
                                    @headerLink.Text
                                </a>
                            </li>
                            }
                        </ul>
                    </nav>
                }
            }
        </div>
    </div>
</header>