@using FamilyHubs.SharedKernel.Razor.ErrorNext
@model FamilyHubs.SharedKernel.Razor.FullPages.SingleAutocomplete.ISingleAutocompletePageModel

@{
    const string selectId = "select";
    Model.Errors.ErrorIdToHtmlElementId = _ => selectId;
}

<partial name="_ErrorSummaryNext" for="@Model.Errors" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Search and select the local authority area this service is in
                </h1>
            </legend>
            <form method="post" novalidate>

                @*todo: dynamically load data from db*@
                @*todo: accessibility: label (visually hidden perhaps), aria, etc*@

                <div class="govuk-form-group">
                    <label class="govuk-label" for="localAuthority">
                        <!---Select local authority--->
                    </label>
                    <select id="@selectId" class="govuk-select" name="la">
                        @if (Model.DisabledOptionValue != null)
                        {
                            <option value="@Model.DisabledOptionValue" selected disabled></option>
                        }
                        <option value="Model.DisabledOptionValue" selected disabled></option>
                        @foreach (var option in Model.Options)
                        {
                            <option value="@option.Value">@option.Label</option>
                        }
                    </select>
                </div>

                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </form>
        </fieldset>
    </div>
</div>